<%= form_for([@article, @comment]) do |f| %>
  <%= render 'common/error_messages', model: @comment %>

  <p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
