
<h1>Artykuł</h1>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<br>
<%= pluralize(@article.likes.count, "person")%> liked this article
<% if @like.persisted? %>
  <%= link_to "Unlike",  article_like_path(@article, @like), method: :delete %>
<% else %>
  <%= link_to "Like",  article_likes_path(@article), method: :post %>
  <!-- <%= form_for([@article, @like]) do |f| %>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  <% end %> -->
<% end %>

<h2>Komentarz</h2>

<% @article.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>


<%= render 'comments/form' %>


<p>
  <%= link_to 'Wróć', articles_path %>
</p>
